html, body{
    height: 100%;
    background-color: rgba(48, 166, 196, 0.2);
}

#intro{
   background-image: url(./utils/background.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    position:relative;
    height: 100%;
    background-size:cover;
    max-width: 100%;
    
    
}

#lavori{
    background-color:rgba(0, 68, 255, 0.822);
    position:relative;
    height: 100%;
    background-size:cover;
    max-width: 100%;
   

}

.card{
    margin-top: 50px;
}

#info{
    background-color:rgba(29, 88, 248, 0.822);
    position:relative;
    height: 100%;
    background-size:cover;
    max-width: 100%;
   
}

#link{
    color: purple;
}

#link:hover{
    color: brown;
}

#contatti{
    background-color:rgba(66, 115, 248, 0.822);
    position:relative;
    height: 100%;
    background-size:cover;
    max-width: 100%;
     
}

.form_contatti{
    padding: 50px;
    box-shadow: 0 0 30px 0 rgba(0,0,0,.09);
    margin: auto;
    max-width: 600px;
  }
  .form_contatti button {
    display: block;
    margin: 20px auto 5px auto;
    position: relative;
    top: 0px;
    border-radius: 10px;
    padding: 10px 40px;
    font-size: 18px;
    color: white;
    background: #120aefc9;
    background-size: 130%;
    background-position: left;
    transition: all 0.3s;
    border: 0px;
  }
  .form_contatti button:hover {
    top: -4px;
    background-position: right;
  }
  .input_container {
    width: 100%;
    display: inline-flex;
    align-items: center;
    background-color: white;
    border: 1px solid #e6e6e6;;
    border-radius: 8px;
    padding: 5px 20px 5px 20px;
    margin-bottom: 10px;
  }
  .input_container:hover {
    box-shadow: 0 0 20px 0 rgba(0,0,0,.09);
  }
  .input_container input, textarea {
    width: 100%;
    font-size: 16px;
    border: 1px solid white!important;
    -webkit-appearance: none!important;
    -moz-appearance: none!important;
    appearance: none!important;
    padding: 15px 18px;
    transition: all 0.2s;
    color: #3d4459;
  }
  .input_container > input:focus {
    border: 1px solid #a5afb8!important;
    background-color: #fafafa;
  }
  .input_container span {
    user-select: none;
    font-size: 30px;
    background: #4A44F2;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   margin-right: 20px;
  }
  .paragrafo{
    padding-top: 45px;
  }