body {
    background-image:url("./utils/sfondoMagicBall.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-color: rgb(17, 17, 17);
    /*background-color: aquamarine;*/
    margin: 100px;
    margin-top: 300px;
    max-width: 100%;
    height: auto;
    
}

.contenitore{
    margin: auto;
    text-align: center;
    width: 100%;
}

#par{
    font-size: large;
}

button{
    background-color:green;
    width: 100px;
    color: white;
    font-size: large;
}

button:hover{
    color:red;
}

button:active{
    color:blue;
}

.pulsante{
    border: 2px solid black;
    background-color: green;
    text-decoration: none;
    color: white;
    padding: 10px;

}
.pulsante:hover{
    color:red;
}

